/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* html,
body {
    height: 100vh;
} */

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}


:root {
    /* Primary Colors  */
    --clr-primary-tomato: hsl(4, 100%, 67%);


    /* Neutral Colors  */
    --clr-neutral-dark-slate-gray: hsl(234, 29%, 20%);
    --clr-neutral-charcoal-gray: hsl(235, 18%, 26%);
    --clr-neutral-gray: hsl(231, 7%, 60%);
    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-label-or-button: hsl(232, 31%, 20%);
    --clr-neutral-paragraph: hsl(240, 4%, 45%);
    --clr-neutral-placeholder: hsl(240, 3%, 75%);;

    /* Gradient Colos */
    --clr-gradient-button-one: hsl(346, 91%, 65%);
    --clr-gradient-button-two: hsl(357, 96% ,67%);
    --clr-gradient-button-three: hsl(1, 100%, 68%);
    --clr-gradient-button-four: hsl(10, 100%, 64%);
    --clr-gradient-button-five: hsl(13, 82%, 62%);


    /* Error Colors */
    --clr-error-state: hsl(4, 91%, 70%);


    /* Font Family */
    --ff-roboto: 'Roboto', sans-serif;


    /* Font Weights */
    --fw-regular: 400;
    --fw-bold: 700;


    /* Border Radius */
    --br-input-button: .525em;
}

body {
    background: var(--clr-neutral-charcoal-gray);
}

main {
    display: flex;
    flex-direction: column;
    font-family: var(--ff-roboto);
    max-width: 375px;
    margin: auto;
}

p {
    color: var(--clr-neutral-paragraph);
    font-size: 1em;
}

.section-sub-container,
form,
button {
    width: 100%;
}

picture {
    border-radius: inherit;
}

picture > img {
    width: 100%;
    border-radius: inherit;
}

.image-container,
.text-container {
    background: var(--clr-neutral-white);
}

.text-container {
    padding: 2em 1em;
}

.header-discription-container {
    margin-bottom: 1.2em;
}

.header-discription-container > h1 {
    color: var(--clr-neutral-dark-slate-gray);
    font-size: 2.5em;
    font-weight: var(--fw-bold);
    margin-bottom: .4em;
}

.header-discription-container > p {
    max-width: 40ch;
}

.main-features-container {
    margin-bottom: 3em;
}

.feature-container {
    align-items: center;
    display: flex;
    margin-bottom: .8em;
}

.feature-container > img {
    align-self: flex-start;
    margin-right: 1em;
    transform: translateY(15%);
}

.feature-container > p {
    max-width: 30ch;
}

form {
    margin-bottom: 1.5em;
}

form > label {
    color: var(--clr-neutral-label-or-button);
    display: flex;
    justify-content: space-between;
    font-size: .7em;
    font-weight: var(--fw-bold);
    margin-bottom: .4em;
}

#error-state {
    color: var(--clr-error-state);
    visibility: hidden;
}

#email-input {
    border-radius: var(--br-input-button);
    border: 1px solid hsl(240, 2%, 78%);
    outline: none;
    padding: 1em;
    width: 100%;
}

#email-input::placeholder {
    color: var(--clr-neutral-placeholder);
}

#email-input:focus {
    cursor: pointer;
}

button {
    color: var(--clr-neutral-white);
    border-radius: var(--br-input-button);
    border: none;
    background-color: var(--clr-neutral-label-or-button);
    display: block;
    padding: 1em;
    width: 100%; 
}

button:hover {
    cursor: pointer;
    background-image: linear-gradient(90deg, 
    var(--clr-gradient-button-one), 
    var(--clr-gradient-button-two), 
    var(--clr-gradient-button-three),
    var(--clr-gradient-button-four),
    var(--clr-gradient-button-five));
}

@media (min-width: 800px) {
    body {
        padding: 2.5rem 0;
    }

    main {
        max-width: 420px;
    }

    .image-container {
        border-radius: .7rem .7rem 0 0;
    }

    .text-container {
        border-radius: 0 0 .7rem .7rem;
    }
}

@media (min-width: 1440px) {
    body {
        padding: 13.5rem 0;
    }

    main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        max-width: 900px;
    }

    .image-container {
        border-radius: 0 2rem 2rem 0;
        grid-area: 1 / 2 / 2 / 3;
        padding: 1.3rem;
    }

    picture {
        border-radius: 1em;
    }

    .text-container {
        border-radius: 2rem 0 0 2rem;
        grid-area: 1 / 1 / 2 / 2;
        padding: 5rem 1.5rem 5rem 3.5rem;
    }

    .header-discription-container > h1 {
        font-size: 3em;
    }

    .header-discription-container > p {
        max-width: 45ch;
    }

    .feature-container > p {
        max-width: 40ch;
    }
}